body {
  margin:0px;
  padding:0px;
  font:normal 15px/20px Arial,sans-serif;
  background:#fff;
  }

article {
  width:33.3333%;
  min-width:320px;
  position:relative;
  padding-top:40px;
  padding-bottom:33.3333%;
  }
section {
  padding:40px;
  margin-left:40px;
  position:relative;
  transition:background 500ms, color 500ms;
  -moz-transition:background 500ms, color 500ms;
  -webkit-transition:background 500ms, color 500ms;
  }
section,
section a {
  color:#888;
  color:rgba(128,128,128,0);
  text-decoration:none;
  text-shadow:rgba(64,64,64,1) 0px 0px 4px;
  }
section.active {
  background:#0097fb;
  color:#eee;
  }
section.active a { color:#eee; }
section.active small { color:#aaa; }
h1 { font-size:2em; line-height:1em; }
h2 { font-size:1.3333em; }
h1,h2 { margin:0px 0px 10px; }
p { font-size:.85em; margin:0px; }

.scroll {
  position:absolute;
  right:0px; bottom:0px;
  font-size:12px;
  text-transform:uppercase;
  padding:5px 120px;
  text-align:center;
  }
.colophon {
  display:block;
  margin-top:10px;
  }

.cover:before {
  content:'';
  display:block;
  width:120px; height:120px;
  margin:0px auto 20px;
  }
.cover.active:before { background:url(icons.png) 0px -120px no-repeat; }

#pane {
  position:fixed;
  top:0px;
  bottom:0px;
  right:0px;
  width:66.6666%;
  }
#map  {
  position:absolute;
  top:0px;
  bottom:0px;
  width:200%;
  left:-50%;
  transition:opacity 250ms;
  -moz-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
  }

.spot {
  width:120px;
  height:120px;
  margin:-60px 0px 0px -60px;
  background:url(icons.png) 120px 120px no-repeat;
  position:absolute;
  }

.spot.active {
  width:120px;
  height:120px;
  margin:-60px 0px 0px -60px;
  background:url(icons.png) 120px 120px no-repeat;
  position:absolute;
  }

.spot-cover { display:none; }
.spot-hyde { background-position:-130px 0px; }
.spot-hyde.active { background-position:-130px -120px; }
.spot-dover { background-position:-130px 0px; }
.spot-dover.active { background-position:-130px -120px; }
.spot-calais { background-position:-130px 0px; }
.spot-calais.active { background-position:-130px -120px; }
.spot-ghent { background-position:-130px 0px; }
.spot-ghent.active { background-position:-130px -120px; }
.spot-nuremberg { background-position:-130px 0px; }
.spot-nuremberg.active { background-position:-130px -120px; }
.spot-klenova { background-position:-130px 0px; }
.spot-klenova.active { background-position:-130px -120px; }
.spot-prague { background-position:-130px 0px; }
.spot-prague.active { background-position:-130px -120px; }
.spot-vienna { background-position:-130px 0px; }
.spot-vienna.active { background-position:-130px -120px; }
.spot-zagreb { background-position:-130px 0px; }
.spot-zagreb.active { background-position:-130px -120px; }
.spot-split { background-position:-130px 0px; }
.spot-split.active { background-position:-130px -120px; }
.spot-dubrovnik { background-position:-130px 0px; }
.spot-dubrovnik.active { background-position:-130px -120px; }
.spot-sarajevo { background-position:-130px 0px; }
.spot-sarajevo.active { background-position:-130px -120px; }
.spot-sofia { background-position:-130px 0px; }
.spot-sofia.active { background-position:-130px -120px; }
.spot-istanbul { background-position:-130px 0px; }
.spot-istanbul.active { background-position:-130px -120px; }
.spot-ankara { background-position:-130px 0px; }
.spot-ankara.active { background-position:-130px -120px; }
.spot-goreme { background-position:-130px 0px; }
.spot-goreme.active { background-position:-130px -120px; }
.spot-batumi { background-position:-130px 0px; }
.spot-batumi.active { background-position:-130px -120px; }
.spot-tbilisi { background-position:-130px 0px; }
.spot-tbilisi.active { background-position:-130px -120px; }
.spot-baku { background-position:-130px 0px; }
.spot-baku.active { background-position:-130px -120px; }
.spot-caspian { background-position:-130px 0px; }
.spot-caspian.active { background-position:-130px -120px; }
.spot-turkmenbashi { background-position:-130px 0px; }
.spot-turkmenbashi.active { background-position:-130px -120px; }
.spot-ashgabat { background-position:-130px 0px; }
.spot-ashgabat.active { background-position:-130px -120px; }
.spot-khiva { background-position:-130px 0px; }
.spot-khiva.active { background-position:-130px -120px; }
.spot-bukhara { background-position:-130px 0px; }
.spot-bukhara.active { background-position:-130px -120px; }
.spot-samarkand { background-position:-130px 0px; }
.spot-samarkand.active { background-position:-130px -120px; }
.spot-tashkent { background-position:-130px 0px; }
.spot-tashkent.active { background-position:-130px -120px; }
.spot-osh { background-position:-130px 0px; }
.spot-osh.active { background-position:-130px -120px; }
.spot-bishkek { background-position:-130px 0px; }
.spot-bishkek.active { background-position:-130px -120px; }
.spot-almaty { background-position:-130px 0px; }
.spot-almaty.active { background-position:-130px -120px; }
.spot-semey { background-position:-130px 0px; }
.spot-semey.active { background-position:-130px -120px; }
.spot-barnaul { background-position:-130px 0px; }
.spot-barnaul.active { background-position:-130px -120px; }
.spot-khovd { background-position:-130px 0px; }
.spot-khovd.active { background-position:-130px -120px; }
.spot-bayankhongor { background-position:-130px 0px; }
.spot-bayankhongor.active { background-position:-130px -120px; }
.spot-ulaanbaatar { background-position:-130px 0px; }
.spot-ulaanbaatar.active { background-position:-130px -120px; }


/* Distinguish the "cover page" visually other sections. */
body.section-0 #map { opacity:0.75; }

@media (max-width:640px) {
  body {
    font-size:12px;
    line-height:16px;
    }
  article {
    width:100%;
    min-width:100%;
    padding-top:0px;
    padding-bottom:200%;
    }
  section {
    text-shadow:none;
    margin-left:0px;
    padding:30px;
    }
  section.active {
    position:fixed;
    top:0px; left:0px; right:0px;
    }
  #pane { width:100%; }
  #map  {
    bottom:0%;
    left:0%;
    width:100%;
    height:150%;
    }
  }

@media (min-width:1280px) {
  body {
    font-size:18px;
    line-height:24px;
    }
  }